@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

h1 {
font-family:'Oswald', sans-serif, Arial, sans-serif; 
}

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#about-me { 
  color: #333333;
  font-size: 7em;
  line-height: 1;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  width: 40%;
  z-index: 1;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#about-me { 
  color: #333333;
  font-size: 7em;
  line-height: 1;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  width: 40%;
  z-index: 1;
}
.ads img:first-child {
  clear: left;
  float: left;
  margin: 0 7% 0 7%;
  width: 40%;
}
.ads img:nth-child(2) {
  float: right;
  width: 40%;
}
.animated {
  stroke-dasharray: 1087;
  stroke-dashoffset: 1000;
  animation: dash 5s linear;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  opacity: 1 !important;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1087;
  }
  to {
    stroke-dashoffset: 0;
  }
}
body { 
  margin:0;
  padding:0;
  position: relative;
  font-family: 'Oswald', sans-serif;
  height: auto;
  margin:0px;
  width: 100%;
  z-index: -4;
}
/*ADDED AT EXTREMEDY MODIFICATION*/
.banners {
  border-top: 25px solid #fff;
  height: auto;
  margin-top: 300px;
  width: 100%;
}
.banners .copy p:first-child {
  float: left;
  text-align: left;
  width: 50%;
}
.banners .copy p:nth-child(2) {
  clear: both;
  float: left;
  margin: 0;
  padding: 10px;
}
.banners img:first-child {
  float: right;
  margin: 100px 3% 200px 0;
  width: 40%;
}
.banners img:nth-child(3) {
  width: 80%;
}
.challenge {
  background-position: right;
  background-repeat: no-repeat;
  left: 0;
  height: 100vh;
  position: relative;
  top: 0;
  width: 100%;
  z-index: -2;
}

#challenge-sf {
  background-image: url('../img/sf-background.jpg');
}

#challenge-ext {
  background-image: url('../img/extremedy-background.jpg');
  opacity: 0.1;
}

#challenge-f5 {
  background-image: url('../img/table-background.jpg');
}

.challenge .copy {
  color: #ffffff;
  height: 20vh;
  width: 55%;
}
.circle {
  border-radius: 50%;
  background: #d2d2d2;
  float:none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  /* width and height can be anything, as long as they're equal */
}
.circle img {
  padding:10%;
  width: 80%;
}
#contact.section {
  background-color: #333333;
  clear: both; 
  float: left;
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 4;
}
#contact.section h1 {
  color: #fff;
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  padding: 10px;
  text-transform: uppercase;
}
#contact.section a h1 {
  color: #fff;
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}
.content {
  background: red;
  height: 100px;
  position: fixed;
  z-index: -5;
}
#contact_frame{
  background-color: #FF6200;
  color: #ffffff;
  font-size: 1.3em;
  height: 140px;
  left: 0;
  line-height: 2em;
  padding-right: 2%;
  position: fixed;
  text-align: right;
  top: 50vh;
  width: 8%;
  z-index: 5;
}
.copy {
  color: #333333;
  font-family: 'Oswald', sans-seriflibri, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.divider {
  background-color: #ff6200;
  height: 2px;
}
.down {
  height: 60px;
  list-style: none;
  margin: 0px auto;
  padding-top:60px;
  width: 60px;
}
#telephone {
  background-color: #FC6200;
  float: left;
  height: 30px;
  position: relative;
  width: 7%;
  z-index: -2;
  left: 6px;
  top: 50vh;
}
#telephone:hover{
  overflow: hidden;
}
#dropaline {
  margin-top: 0;
  text-align: center;
  white-space: nowrap;
}
#dropaline h3 {
  color: #FC6200;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8em;
  white-space: nowrap;
}
.nav-item:hover{
  cursor: pointer;
  left: 12px;
  overflow: hidden;
}
.nav-item {
  float: left;
  left: 6px;
  margin-top: 5px;
  max-height: 70px;
  position: relative;
  width: 94%;
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}
.nav-item svg, #dropaline svg {
  margin: 0 auto;
  max-height: 48px;
  max-width: 80%;
  padding: 0 10% 0 10%;
}
#nav-item svg:nth-child(5) {
  width: 90% !important;
}
#nav-buttons h3 {
  color: #FFFFFF;
  font-size: 0.7em;
  font-weight: 100;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8em;
  white-space: nowrap;
}
#nav-buttons {
  bottom: 0;
  float: left;
  list-style: none;
  margin: 0 0 50vh 0;
  padding: 0;
  position: fixed;
  height: auto;
  width: 7%;
  z-index: -3;
}
#fftb {
  bottom: 0;
  float: right;
  height:160px;
  margin: 0 10px 10px 0;
  padding: 0px;
  position: fixed;
  right: 0;
  width:93px;
}
#fftb h1:nth-child(1) {
  margin: 0 0 -0.3em 0;
  font-size:2em;
}
#fftb h1:nth-child(2) {
  margin:0 1em 0 1em;
  float: left;
  font-size:.95em;
}
#fftb h1:nth-child(3) {
  margin:0;
  float:left;
  font-size:.7em;
}
#fftb h1:nth-child(4) {
  margin:-32px 0 0 0;
  font-size:3.5em;
  float:left;
}
figure#fortune-circle {
	border-radius: 50%;
  background: rgb(155, 155, 155);
  margin: 0 auto;
	width:50%;
	height: 50%;
	/* width and height can be anything, as long as they're equal */
}
.fill figure#fortune-circle {
    padding: 11px;
    text-align:center;
    background: #fff;
    border-radius: 50%;
    /* Old browsers */
    background: linear-gradient(to top, #fff 50%, #ff782c 50%);
    background-size: 400% 200%;
    background-position:bottom right;
    top:80px;
}
.fill .message {
    padding: 11px;
    text-align:center;
    /* Old browsers */
    color: linear-gradient(to top, opacity 0.5, #ff782c 50%);
    background-size: 400% 200%;
    background-position:bottom right;
    opacity: 0;
    top:80px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.fill #top-logo {
    padding: 21px;
    text-align:center;
    border-radius: 50%;
    /* Old browsers */
    background: linear-gradient(to bottom, rgb(155, 155, 155) 50%, #ff782c 50%);
    background-size: 400% 200%;
    background-position:top left;
    top:80px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  .fill figure#fortune-circle:hover {
    background-position:top left;
    top: 0;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
}
  .fill .message:hover {
    background-position:top left;
    top: 0;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
}
  .fill #top-logo:hover {
    background-position:bottom right;
    top: 0;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
}
.fortune-circle {
  border-radius: 50%;
  background: #d2d2d2;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  /* width and height can be anything, as long as they're equal */
}
.fill .fortune-circle {
    padding: 11px;
    text-align:center;
    background: #d2d2d2;
    border-radius: 50%;
    /* Old browsers */
    background: linear-gradient(to top, #d2d2d2 50%, #ff782c 50%);
    background-size: 400% 200%;
    background-position:bottom right;
    top:80px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.fill #top-logo {
    padding: 11px;
    text-align:center;
    background: #d2d2d2;
    border-radius: 50%;
    /* Old browsers */
    background: linear-gradient(to bottom, #d2d2d2 50%, #ff782c 50%);
    background-size: 400% 200%;
    background-position:top left;
    top:80px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  .fill .fortune-circle:hover {
    background-position:top left;
    top: 0;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
}
  .fill #top-logo:hover {
    background-position:bottom right;
    top: 0;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
}
.fix-spokane {
  /* bottom: 0px; */
  position: fixed !important;
  /* 50vh for half the image height, plus 10vh to account for the top padding of .project-intro.  I */
  top: -50vh !important;
}
figure#fortune-circle {
  position: relative;
  z-index: 2;
  -webkit-animation-name: bounce;
  -webkit-animation-duration:0.6s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in-out;

}

@-webkit-keyframes bounce{
  0% { 
    top: 6px;

  }

  100% {
    top: 16px;

  }
}
.float {
  border-top: 24px solid #333333;
  height: auto;
  margin-top: 34vh;
  width: 100%;
  z-index: 1;
}

.float img {
  padding-left: 2.5%;
  width: 30%;
}
.full {
  width: 100%;
}
#goodstuff {
  background-color: #FFFFFF;
  float: right;
  margin-top: 200px;
  position: relative;
  width: 100%;
  z-index: 2;
}
#goodstuff a {
  text-decoration: none;
}
#goodstuff .project h1 {
  color: #ffffff;
}
#goodstuff h1 {
  background: #ffffff;
  clear: both;
  color: #333333;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  padding: 50px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
#goodstuff h2 {
  clear: both;
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  width: 5%;
}
#goodstuff .comps {
  float:left;
  margin:0;
  padding: 0;
  position: relative;
  width: 100%
}
#goodstuff .comps li img {
  float: left;
  list-style: none;
}
#goodstuff.section ul.comps.print li:nth-child(even) .half {
  float: right;
}
#goodstuff.section ul.comps.print li:nth-child(odd) .half {
  float: left;
}
.half {
  float: left;
  width: 50%;
}
.heading {
  padding: 5vh 0 0 5%;
}
#home {
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative;
}
#home { 
  background: url(home-bg.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
} 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
/*#header {
  background-image: url('../img/header.jpg');
  background-size: 100%;
  display: block;
  height: 147px;
  width: 100%;
  margin: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 12;
  text-align: center;
  padding: 0;
}
.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}
.hide-bg {
  background: none !important;
}*/
.icon {
  background-color: #ffffff;
  border-radius: 50%;
  height: auto;
  margin-left: 6%;
  position: relative;
  float: left;
  z-index: 4;
}
.icon:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}
#icons {
  height: 200px;
}
#icons .icon:nth-child(1), #icons .icon:nth-child(4) {
  margin-top: 610px;
}
#icons .icon:nth-child(2), #icons .icon:nth-child(3) {
  margin-top: 620px;
}
#icons .icon:nth-child(1) {
  width : 17%;
}
#icons .icon:nth-child(2) {
  width : 17%;
}
#icons .icon:nth-child(3) {
  width : 18%;
}
#icons .icon:nth-child(4) {
  width : 17%;
}
#icon-summaries {
  color: #333333;
  float: left;
  height: auto;
  line-height: 1.2;
  text-align: center;
  width: 100%;
}
 #icon-summaries p:nth-child(1) {
  margin: 40px 2% 0 4%;
  width : 20%;
}
#icon-summaries p:nth-child(2) {
  margin: 40px 2% 0 4%;
  width : 16%;
}
#icon-summaries p:nth-child(3) {
  margin: 70px 2% 0 4%;
  width : 19%;
}
#icon-summaries p:nth-child(4) {
  margin: 30px 0 0 4%;
  width : 17%;
}
#icons p {
  float: left;
}
.icon svg {
  bottom: 0;
  height: auto;
  margin-top: 13px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
#image {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#logo {
  /*background-color:rgba(252, 145, 21, 0.35);*/
  float: left;
  height: 80px;
  padding: 1%;
  position: absolute;
  width: 80px;
  z-index: 3;
}
#logo-jvd {
  color: #333333;
  font-family:'Oswald', sans-serif, Arial, sans-serif;
  font-size: 2.4em;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-left: 1%;
  opacity: 0;
  position: fixed;
  top: 5vh;
}
.logo-up {
  opacity: 0;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.logo-down {
  opacity: 1 !important;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.line-container {
  border-right: 4px solid #ff6200;
  border-top: 4px solid #ff6200;
  float: none !important;
  height: 89vh;
  margin: 0 auto;
  min-width: 368px;
  perspective: 1px;
  position: relative;
  width: 25%;
  z-index: -1;
}
.line-container * {
  margin: 0px auto;
}
.line-container:before {
  border-right: 25px solid #333333;
  border-left: 25px solid #333333;
  border-top: 25px solid #333333;
  border-bottom: 25px solid #333333;
  content: " ";
  height: 80vh;
  left: -10px;
  margin-top: -40px;
  max-width: 600px;
  min-width: 200px;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.line-container ul {
    list-style-type:none;
    padding:0;
}
/****PRIDE IN ONE'S WORK IS THE CAT'S ...****/
/*.line2 h2 {
  color: #d2d2d2;
  font-size: 2.02em;
  line-height:.5em;
  text-align: center;
}
.line3 h2 {
  color: #d2d2d2;
  font-size: 1.6em;
  line-height:0em;
  text-align: center;
}*/
#lion {

}
#lion img {
  float: left;
  /*padding: 1em;*/
  width: 85%;
}
/*#lion:after {
  background-image:url('../img/border-mane-wht.png');
  background-repeat: no-repeat;
  background-size: 100%;
  content:" ";
  display:block;
  left: -24px;
  margin: 0 auto;
  position: relative;
  top: 115px;
  width: 171px;
  height: 70px;
}*/
.logo {
  transition: margin-left 0.5s ease;
  margin-left: -120px;
  float: left;
  overflow: hidden;
}
.logo:hover {
  margin-left: 0px;
  float: left;
  overflow: hidden;
}
.marker p {
  border-left: 24px solid #333333;
}
#menu {
  float: right;
  margin: 30px 30px 0 0;
  width: 100px;
}
#menu-icon {
  margin: -40px 0px 0px 2px;
  font-size: 5em;
  line-height: 19px;
}
#menu-text {
  margin: 0;
  font-size: 5em;
  line-height: 24px;
}
#mobile-intro-text {
  bottom: 50px;
  font-size: 1.3em;
  margin-left: 90%;
  position: absolute;
  width: 100%;
}
#name {
  color: #333333;
  font-weight: 200;
  font-size: 1em;
  text-align: left;
  top: 0;
  left: 0;
}
#name h2 {
  color: #333333;
  float: left;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
#nav {
  background: #333333;
  bottom: 0;
  float: left;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 50vh;
  width: 7%;
  z-index: -3;
}
#nav h1 {
  bottom: 0;
  color: #ffffff;
  float: right;
  line-height: 1em;
  position: absolute;
  right: 5%;
  text-align: right;
}
#nav ul {
  height: 50vh;
  margin: 30px auto;
  padding: 0;
  width: 100%;
}
#nav ul li {
  clear: both;
  height: 60px;
  list-style: none;
  margin: 0 auto;
  width: 60%;
}
#nav ul li svg {
  height: 60px;
  left: 6px;
  margin: 30px auto;
  width: 100%;
}
#phone {
  clear: right;
  height: 25vh;
  left: -187.5px;
  margin-left: 50%;
  position: absolute;
  margin-top: 43vh;
  width: 375px;
}

#phone .copy {
  border-right: 5px solid #ff6200;
  height: 25vh;
  margin: 0 auto;
  width: 370px;
  z-index: -3;
}

#phone .copy p {
  margin: -5px auto;
  padding: 10px 0 0 10px;
}
.project-intro {
    font-size: 100px;
    padding-top: 10vh;
    margin-top: -1px;
    text-align: center;
    height: 90vh;
    z-index: 2;
}
.project-intro h1:nth-child(2) {
    color: #fff;
    font-size: 1.4em;
    height: 200px;
    line-height: 1em;
    margin: 0px;
    padding-top: 150px;
    text-align: center;
    white-space: nowrap;
    z-index: 0;
}
.project-intro:after {
  background-image: url('../img/4px-border-mane-white.png');
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
  content: " ";
  display: block;
  height: 80vh;
  left: 0;
  margin: 100vh auto;
  position: absolute;
  top: 8px;
  min-width: 368px;
  right: 0;
  width: 25%;
  z-index: 2;
}
.project-section .alt-heading h1 {
  color: #ff6200;
  font-family:'Oswald', sans-serif, Arial, sans-serif;
  font-size: 2.4em;
  font-weight: 600;
  letter-spacing: 0.2em; 
  text-transform: uppercase;
  white-space: nowrap;
}
.project-section .alt-heading p {
    color: #333333;
    font-family: 'Oswald', sans-serif, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.2;
}
.project-section .alt-heading p:nth-child(3) {
  color: #333333;
}
.project-section.work {
  background-color: #fff;
}
.project-section {
    width: 100%;
    height: auto;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}
.project-section.work .projects {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.project-section .sub-section {
    position: relative;
}
.project-section .alt-heading.absolute {
    position: absolute;
    left: 0;
    top: 150px;
    margin-left: 10%;
    width: 40%;
    z-index: 3;
}
.project-section .alt-heading p {
    color: #333333;
    font-family: 'Oswald', sans-serif, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.2;
}
.project-section .alt-heading p:nth-child(3) {
  color: #333333;
}
.project {
    display: table;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project-section.work .projects .project.enter-page {
    background: #CCCCCC;
    background-position: top center;
    border-top: 8px solid #333333;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    height: 788px;
    left: 50%;
    margin-left: -1500px;
    overflow: hidden;
    width: 3000px;
    z-index: 2;
    margin-top: 0;
}
.project-section.work .projects .project.extremedy {
    background-image: url('../img/atd.JPG');  
    background-position: center center;
    opacity: 1;
}
.project-section.work .projects .project.spokefest {
    background-image: url('../img/s2.jpg');
    background-position: top center;
    opacity: 1;
}
.project-section.work .projects .project.ref5esh {
    background-image: url('../img/FrontSide2.jpg');
    background-position: top center;
    opacity: 1;
}
.project-section.work .projects .project .project-container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
}
.project-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.project-section.work .projects .project .project-copy {
    display: block;
    width: 100%;
    margin-left: 100px;
    max-width: 250px;
    height: auto;
    float: left;
    clear: both;
    color: #FFF;
    opacity: 0;
    position: relative;
    text-decoration: none;
    top: 120px;
}
.project-section.work .projects .project .project-copy h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
    font-weight: 100;
    opacity: 1;
    white-space: nowrap;
    text-align: center;
}
.project-section.work .projects .project .project-copy p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    letter-spacing: .03em;
    line-height: 6;
    opacity: 1;
    border-top: 2px solid #ff6200;
    text-align: center;
}
.project-section.work .projects .project .project-copy .services {
    font-family: 'Oswald', sans-serifi, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.quarter {
  float: left;
  width: 25%;
}
 #restricted {
  float: right;
  margin-top: 0px;
  position: relative;
  width: 93%;
  z-index: 4;
}
#result .next {
  margin: 0 auto;
  width: 150px;
}
#result a:hover {
  color: #ff6200;
}
#result a {
  color: #333333;
  text-decoration: none;
}
#result .next h2 {
    font-family: 'Oswald', sans-serifi, Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
#result .next h2:nth-child(2) {
    border-top: 5px solid #333333;
}
#result .next p{
    color: #333333;
    font-family: 'Oswald', sans-serifi, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}
.restricted {
  float: right;
  position: relative;
  width: 80%;
  z-index: 4;
}
#result {
  clear: both;
  height: auto;
  position: relative;
  width: 100%;
  z-index: -2;
}

#result h1 {
  border-top: 10px solid #333333;
  font-family: 'Oswald', sans-serif;
  font-size: 7em;
  font-weight: 600;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  z-index: -2;
}

#result p {
  padding: 100px 10% 0 10%;
}

#result img {
  position: absolute;
  margin-left: -182.5px;
  left: 50%;
  width: 375px;
  margin-top: 10px;
}
.right-text {
  float: right;
  text-align: right;
}
.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.section {
  width: 100%;
}
#solution {
  background-color: #ffffff;
  height: auto;
  position: relative;
  width: 100%;
  z-index: -2;
}

#solution .copy p {
  padding: 10px 0 10px 5%;
  margin: 10px 0 15px 0;
}

#solution h1 {
  border-top: 1vh solid #333333;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

#solution p:nth-child(0) {
  padding: 100px 10% 0 10%;
  width: 40%;
}
.summary {
  font-weight: 300;
  position: relative;
  float: left;
  text-transform: uppercase;
}
#telephone svg {
  float: left;
  width: 30%;
}
#text-container {
  width: 100%;
}
.top-image {
  width:100%;
}
#top-logo {
  height: 100px;
  margin: 25px 0px 0 88px;
  width: 100px;
}
.text-center {
    text-align: center;
}
#wpspd-parent-link {
    z-index: auto;
    width: 7%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}
#wpspd-page-header {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
}
#wpspd-page-header, html.js #wpspd-page-header .wpspd-parallax-wrapper {
    transform-style: preserve-3d;
}
.wpspd-parallax-wrapper {
  white-space: nowrap;
}
#wpspd-page-header .wpspd-parallax-wrapper .wpspd-page-background, #wpspd-page-header .wpspd-parallax-wrapper .wpspd-page-background .wpspd-page-background, #wpspd-page-header .wpspd-parallax-wrapper .wpspd-page-background img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#wpspd-page-header .wpspd-parallax-wrapper .wpspd-page-background {
/*  background: url("http://justicevengeance.github.io/portfolio/img/spokane_blkwht.jpg");
  background-size: 100%;*/
  text-align: center;
  white-space: nowrap;
}
#wpspd-header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 10000;
}
#wpspd-header .wpspd-logo {
    display: block;
    margin-top: 3%;
    position: absolute;
    top: 0;
    left: 3%;
}
.wpspd-logo {
    display: inline-block;
    line-height: 1em;
    max-width: 200px;
    -webkit-transition: opacity ease .2s;
    -moz-transition: opacity ease .2s;
    transition: opacity ease .2s;
}
#wpspd-menu {
    height: 40px;
    line-height: 40px;
    z-index: 99999;
    margin-top: 3%;
    position: fixed;
    top: 0;
    right: 3%;
}

#wpspd-site-nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#wpspd-site-nav .wpspd-site-nav-mask {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
html.js #wpspd-site-nav .wpspd-nav-wrapper {
    padding: 124px 3% 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: table;
}
 /*END CSS PARRALAX SCROLLING*/
ul#nav a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}
ul#line3 {
  line-height: 1.5em;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
ul#line3 li {
  color: #fff;
  font-size:2.2em;
  list-style: none;
  opacity: 0;
  position:absolute;
  text-align: center;
  width: 300px;
}

.wheelie img {
  height: auto;
  margin: 0 0 -4px 2.5%;
  width: 40%;
}


/************************RESPONSIVE DESIGN*********************************/


@media screen and (min-device-width: 480px) {
  
  .mobile-only {
    display: none;
  }
}
@media screen and (max-device-width : 480px) {
  #contact {
    display: none;
  }
  #contact h1, #contact a h1 {
    font-size: 1em;
    bottom: 0;
  }
  #goodstuff {
    margin: 0;
  }
  #goodstuff h1 {
    display: none;
  }
  .line-container {
    display: none;
  }
  .line-container:before {
    border-right: 25px solid #333333;
    border-left: 25px solid #333333;
    border-top: 25px solid #333333;
    border-bottom: 25px solid #333333;
    height: 400px;
    left: 50%;
    margin-left: -139px;
    min-width: 40px;
    width: 200px;
  }
  .line-container:after {
    margin: 0 auto;
  }
  #logo {
    float: left;
    padding: 5%;
    margin-top: 680px;
    position: absolute;
    width: 45%;
    z-index: 3;
  }
  #logo-jvd {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .mobile-only p {
    font-size: 2.5em;
    top: 650px;
  }
  .mobile-gd {
    border-top: 20px solid  #333333;
    margin-top: 0;
    padding-top: 5px;
  }
  .mobile-gd h1 {
    font-size: 0.5em;
    text-align: center; 
  }
  .mobile-full-size {
    width: 100%;
  }
  #nav-butons, #nav {
    display:none;
  }
  .pc-only {
    display: none;
  }
  #profile img {
    border-radius: 50%;
  }
  #profile .photo {
    float: left;
    width: 60%;
  }
  #profile .logo {
    float: right;
    background-size: 100%;
    width: 30%;
  }
  #profile p {
    float: left;
    font-size: 1em;
    color: #ff6200;
  }
  .project {
    display: table;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
  .project-intro {
    font-size: 20px;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 200px;
  }
  .project-intro h1:nth-child(1) {
    color: #fff;
    font-size: 5em;
    padding-top: 360px;
    z-index: 1;
  }
  .project-intro h1:nth-child(2) {
    display: none;
  }
  .project-intro p {
    z-index: 0;
    position: absolute;
    padding: 0 25% 0 25%;
    text-align: left;
    width: 50%;
    color: #333333;
  }
  .project-section.work .projects {
    display: none;
  }
  #restricted {
    width: 100%;
  }
}
#top-launch {
  bottom: 20px;
  font-family: 'Oswald', sans-serif;
  height: 30px;
  left: 31px;
  opacity: 0;
  position: fixed;
  z-index: 6;
  transition: bottom .5s ease-in-out;
  -moz-transition: bottom .5s ease-in-out;
  -webkit-transition: bottom .5s ease-in-out;
}
.top-launch-visible {
  bottom: 0px;
  color: #FC6200;
  cursor: pointer;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 0.2em;
  opacity: 1 !important;
  transition: bottom .5s ease-in-out;
  -moz-transition: bottom .5s ease-in-out;
  -webkit-transition: bottom .5s ease-in-out;
}
.top-launch-visible:hover {
  margin-top: -20px; 
}
.container {
  width:100%;
  height:800px;
}
.container img {
  max-width: 100%;
  height: auto;
}
.tile-big {
  width:60%;
  height:100%;
  overflow: hidden;
  border-bottom: 10px solid white;
  background-color:#E1E1E1;
  float:left;
  cursor:pointer;
}
.tile-small {
  width:39%;
  height:49%;
  overflow: hidden;
  border-bottom: 10px solid white;
  background-color:#E1E1E1;
  float:right;
  cursor:pointer;
}
#nes {
  width: 90%;
}

.start {
  fill-opacity: 0;
  fill: #ff6200;
  stroke: #ff6200;
  stroke-width: 3;
  stroke-dasharray: 1400;
  stroke-dashoffset: 1400;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration: 0;
  animation-name: DrawLine, FadeStroke, FillIn;
  animation-duration: 6s, 4s, 4s;
  animation-delay: 0, 3.5s, 5.5s;
}

@keyframes DrawLine {
  to { stroke-dashOffset: 0; }
}

@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}

#main {
    height:1900px;
}
#results {    
    background-color:#FC6200;
    display:block;
    left: 0;
    max-height: 100vh;
    position:fixed;
    top: 0;
    width:6px;
    z-index: -2;
  }
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#close {
    border-radius: 50%;
    background:#ccc;
    display:inline-block;
    float:right;
    font-family: 'Oswald', sans-serif;
    height: 20px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
    transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    -webkit-transition: padding .5s ease-in-out;
}
#close:hover {
    float:right;
    display:inline-block;
    padding:10px 10px;
    background:#ccc;
    color:#fff;
    transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    -webkit-transition: padding .5s ease-in-out;
}
#feedback-page{
  text-align:center;
}

#text-feedback{
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  background-color:white;
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  position: fixed;
  top: 30vh;
  z-index: 8;
}
.form p {
  margin: 0;
}
#form-div {
  background-color:#333333;
  left: -530px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  width: 450px;
  float: left;
  position: absolute;
}

.feedback-input {
  opacity:0.9;
  color:#333333;
  font-family: 'Oswald', sans-serif;
  font-weight:200;
  font-size: 15px;
  border-radius: 0;
  line-height: 22px;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #FC6200;
  color: #333333;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#000000;
  border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Oswald', sans-serif;
  float:left;
  width: 100%;
  border: none;
  cursor:pointer;
  background-color: #FC6200;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #FC6200;
}
  
.submit:hover {
  color: #FC6200;
}
  
.ease {
  border: none;
  width: 0px;
  height: 55px;
  background-color: #ffffff;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 1200px) {
  .project-intro h1:nth-child(2) {
    font-size: 1em;
  }
}
@media only screen and (max-width: 860px) {
/*  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }*/
  .project-intro h1:nth-child(2) {
    font-size: 0.6em;
  }
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #image {
      border-bottom: 12px solid #333333;
      height: 20%;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("http://justicevengeance.github.io/portfolio/img/spokane_blkwht.jpg");
      background-size: cover;
      width: 100%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #image {
      height: 60%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    #image {
      height: 20%;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}